[url "https://"]
    insteadOf = git://
[user]
        name = Nando Pena
        email = fernando.pena@rackspace.com
[push]
        default = nothing
[alias]
        ll = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --reverse master^...
    bk = checkout -
    br = branch
    cdiff = "!f() { git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative $1..$2; }; f"
    ci = commit
    co = checkout
    ignore = update-index --assume-unchanged
    ma = checkout master
    new = checkout -b
    nuke = !git reset --hard && git clean -d -x -f && :
    pu = pull origin master
    rem = rebase origin/master
    st = status -s
    un = reset HEAD --hard
    unignore = update-index --no-assume-unchanged
[filter "lfs"]
        clean = git-lfs clean %f
        smudge = git-lfs smudge %f
        required = true
[credential]
        helper = osxkeychain
[url "https://github.com/"]
        insteadOf = git://github.com/
[core]
        quotepath = false
